html{
	background: black;
	width: 1120px;
	margin: 20px auto;
}
body{
	/*background: url("../img/jpg/nav-bg.jpg");*/
}
.container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: center;
}
header{
	background: url("../img/jpg/nav-bg.jpg");
}
header .left{
	width: 80px;
	height: 50px;
	background: #1576b6;

}
header .left2{
	width: 110px;
	height: 50px;
	background:url("../img/jpg/nav-bg.jpg");

}
header .center{
	padding: 0 0 0 10px;
	width: 870px;
	height: 50px;
	background: #005d9a;
	line-height: 80px;
}
header .right{
	width: 50px;
	height: 80px;
	background: blue;
}

header .left1{
	background: #005d9a;
	clear: both;
	width: 130px;
	text-align: left;
}
.menu ul{
	margin: 0;
	padding: 5px;
	list-style: none;

}
.menu li{
	border-bottom: 1px solid white;
	text-decoration: none;
	line-height: 3em;
}
.menu a{
	font-size: 12px;
	color: white;
	text-decoration: none;
}
.menu a span{
	float: right;
	position: relative;
	right: 10px;
}
section .navleft{
	background: url("../img/content-bg.jpg");
	width: 240px;
	height: 3800px;
	float: left;
}
	section .navright{
	background: url("../img/content-bg.jpg");
	width: 180px;
	height: 3800px;
	float: right;
}

	section .art{
	background:url("../img/jpg/nav-bg.jpg");

}


/*@media (max-width: 30em) {
html {
	background: url("../assets/img/banner.png");
	background-repeat: repeat;
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	padding: 0.8em;
	max-width: 30em;
	margin: 1em auto;
	background: #fff;
	border: 4px solid #BDC3C7;
	box-shadow: 0 0 10px #ddd;
}
a {
	color: #2980B9;
	text-decoration: none;
	border-bottom: 1px dotted #2980B9;
}
	a:hover, a:active {
	color: #3498DB;
	border-bottom: 1px solid #2980B9;
}
header {
	text-align: center;
	margin-bottom: 1em;
}

}*/